header {
	width: 1200px;
	padding-left: 21px;
	padding-right: 27px;
	outline: 1px solid red;
	background-color: red;
	vertical-align: top;
	font-size: 0px;
}

header > a {
	display: inline-block;
	width: 154px;
}

.menu {
	width: 705px;
	outline: 1px solid green;
	display: inline-block;
	background-color: green;
	font-size: 16px;
}

.user_panel {
	width: 293px;
	outline: 1px solid yellow;
	display: inline-block;
	background-color: yellow;
	font-size: 16px;
	text-align: right;
}

.promo {
	width: 1146px;
	outline: 1px solid red;
	font-size: 0px;
	margin-left: auto;
	margin-right: auto;
}

.raspberry_for_free {
	width: 560px;
	display: inline-block;
	outline: 1px solid green;
	margin-right: 26px;
	font-size: 16px;
}

.chocolate_for_free {
	width: 560px;
	display: inline-block;
	outline: 1px solid green;
	font-size: 16px;
}

.top_products {
	width: 1146px;
	outline: 1px solid red;
	font-size: 0px;
	margin-left: auto;
	margin-right: auto;
}

.product {
	width: 267px;
	display: inline-block;
	outline: 1px solid green;
	margin-right: 26px;
	font-size: 16px;
	vertical-align: top;
}

.advantages {
	width: 1146px;
	outline: 1px solid red;
	margin-left: auto;
	margin-right: auto;
}

.blog_and_subscription {
	width: 1146px;
	outline: 1px solid red;
	font-size: 0px;
	margin-left: auto;
	margin-right: auto;
}

div.blog_and_subscription {
	width: 267px;
	display: inline-block;
	outline: 1px solid green;
	margin-right: 26px;
	font-size: 16px;
	vertical-align: top;
}



